/* General Styles */
body {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipografía más moderna */
    color: #f0f0f0; /* Texto en color claro para buen contraste */
    margin: 0;
    padding: 0;
}

/* Main Container */
#home {
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px; /* Espacio para el contenido principal */
    padding: 20px 40px;
    background-color: #1e1e1e; /* Color de fondo más oscuro para el área principal */
    color: #e0e0e0; /* Texto en color claro */
    border-radius: 8px; /* Bordes redondeados para un estilo más moderno */
}

/* Notes Section */
#notes {
    width: 100%;
    margin-left: 300px; /* Espacio para el SideBar */
}

/* Note Container */
#note_container {
    display: grid;
    gap: 20px; /* Espaciado entre los elementos */
    padding: 20px;
}

#note_note_area{
    height: 100vh;
    margin-top: 20vh;
}
/* Title */
#note_title {
    margin-bottom: 20px;
}

#title {
    width: calc(100% - 40px);
    height: 60px;
    font-size: 2.5em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Subtitle */
.note_subtitle {
    display: grid;
    gap: 10px; /* Espaciado entre subtítulo y contenido */
    margin-bottom: 20px;
}

.note_subtitle_text {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Text Note */
.note_text_note {
    display: grid;
    grid-template-columns: 24px 1fr; /* Ajuste para checkbox y texto */
    gap: 10px;
    align-items: center;
}

.note_checkbox_label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.note_checkbox_input {
    height: 20px;
    width: 20px;
    accent-color: #007bff; /* Color para el checkbox */
}

.note_textarea_txt {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: #f0f0f0;
    box-shadow: 0 2px 4px #0000001a;
}

/* Add Button */
button {
    padding: 10px 20px;
    font-size: 1em;
    color: #f0f0f0;
    background-color: #007bff; /* Botón en color azul */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3; /* Color de fondo en hover para el botón */
}

/* Note Section Adjustment */
#note {
    margin-top: 70vh; /* Ajusta según sea necesario */
}